.Rentabilidad{
    margin-top: 3rem;
    padding: 0 2rem;
    background-color: $primario2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Rentabilidad_title{
        padding-top: 3rem;
        font-size: 2rem;
        @include tablet{
            font-size: 3rem;
        }
        margin: 2rem auto;
        color: $blanco;
        span{
            color: $secundario;
        }
        padding-bottom: 1.2rem;
        border-bottom: .3rem solid $blanco;
    }

    .Rentabilidad-list{
        padding-bottom: 3rem;
        li{
            line-height: 28px;
            margin: 1.2rem 0;
            font-weight: 500;
            font-size: 1.8rem;
            color: $blanco;
            i{
                margin-right: 1rem;
                background-color: $blanco;
                color: $secundario;
                padding: .1rem .3rem;
                border-radius: 50%;
            }
        }
    }

    .lined{
        display: none;
        @include tablet{
            display: block;
            bottom: 8rem;
            width: 100%;
            max-width: 90rem;
            height: .5rem;
            background-color: $secundario;
            border-radius: .5rem;
        }
    }

}
