
$fuentePrinciapal: 'Montserrat', sans-serif;

//colores
$blanco: #ffffff;
$blanco2: #e9e9e9;
$primario: rgb(53, 70, 118);
$primario2: #2A3F77;
$secundario: #CAA55E;
$blancoTrans: #fafafac9;
$negro:#000000;
$gris:#3b3b3b;

//Medidad Queries
$telefono: 408px;
$tablet: 930px;
$desktop: 1200px;

//funetes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//seapraciones
$separacion: 5rem;
