.inmMapa{
    margin-top: 3rem;
    background-color: #fff;
    box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
    padding: 2.5rem 3rem;

    #map{
        height: 45rem;
        width: 100%;
    }
}
