/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  color: inherit;
  /* 2 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 3 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
  border-color: inherit;
  /* 1 */
  text-indent: 0;
  /* 2 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.img {
  border: 0.9rem solid #e9e9e9;
  border-radius: 50%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-moz-selection {
  background-color: #354676;
  color: #ffffff;
}

*::selection {
  background-color: #354676;
  color: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}
body.fijar-body {
  overflow: hidden;
}

p {
  font-size: 2rem;
  color: #000000;
}

.contenedor {
  max-width: 120rem;
  width: 95%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  color: #CAA55E;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #354676;
}

.buton {
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #2A3F77;
  border: none;
  font-weight: 600;
  margin-left: 1rem;
  height: 3.9rem;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 0 #2A3F77, 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  transition: linear 0.4s;
  border-radius: 0.3rem;
}
.buton:hover {
  cursor: pointer;
}
@media (min-width: 930px) {
  .buton:hover {
    box-shadow: inset 400px 0 0 0 #2A3F77, 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    color: #ffffff;
  }
}

.buton--blanco {
  background-color: #ffffff;
  color: #354676;
  box-shadow: inset 0 0 0 0 #354676;
}
.buton--blanco:hover {
  cursor: pointer;
  box-shadow: inset 400px 0 0 0 #354676;
  color: #ffffff;
}

.css-b62m3t-container {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  color: #424242;
}
@media (max-width: 930px) {
  .css-b62m3t-container {
    padding: 1.5rem 1.2rem;
    border-bottom: 0.1rem solid #e9e9e9;
  }
}

.TitleSection {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.TitleSection .TitleSection-title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.3rem;
}
.TitleSection .TitleSection-paragraf {
  max-width: 60rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #424242;
}

.cartTextCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  padding: 4rem 3rem;
}
@media (min-width: 930px) {
  .cartTextCol {
    padding: 16rem 8rem;
  }
}
.cartTextCol .cartTextCol-title {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.3rem;
  color: #000000;
}
.cartTextCol .cartTextCol-paragraf {
  max-width: 60rem;
  text-align: left;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #424242;
}

@media (min-width: 930px) {
  .fijo {
    transition: all 500ms linear;
    position: fixed !important;
    top: 0 !important;
  }
  .fijo .floatbar {
    background-color: #354676;
    z-index: 100000 !important;
    width: 100vw;
  }

  .barSearch {
    margin: 0 auto;
    margin-bottom: -11.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-width: 120rem;
  }
  .barSearch .barSearch__grid {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 3.2fr 2fr 1fr;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    padding: 1rem 2rem;
    background-color: #354676;
    max-width: 120rem;
    margin: 0 auto;
  }
  .barSearch .desplegable {
    margin: 0 auto;
    visibility: collapse;
    background-color: #354676;
    display: grid;
    padding: 1rem 2rem;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    transform: translatey(-100%);
    transition: all 300ms linear;
    max-width: 114rem;
  }
  .barSearch .active {
    transform: translatey(0);
    visibility: visible;
  }
}
@media (max-width: 930px) {
  .barbig {
    display: none;
  }

  .barSearchCl {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .barSearchCl .buton-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    z-index: 2;
    background-color: #354676;
    border-radius: 0;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1rem 0;
    border: none;
    margin-top: -0.3rem;
  }
  .barSearchCl .buton-search svg {
    font-size: 2rem;
    margin-right: 1rem;
  }
  .barSearchCl div select {
    width: 100vw;
  }

  .desative {
    z-index: 1;
    transform: translatey(-100%);
    transition: all 300ms linear;
    margin-bottom: -94%;
  }

  .active {
    z-index: 1;
    transition: all 300ms linear;
    transform: translatey(0);
    margin-bottom: 0;
  }
}
.itemReciente__main {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 2rem;
  max-width: 43rem;
  min-height: 520px;
  max-height: 53rem;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.15);
}
.itemReciente__main .itemReciente__img {
  position: relative;
}
.itemReciente__main .itemReciente__img .itemReciente__img--header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.itemReciente__main .itemReciente__img .itemReciente__img--header .itemReciente__img--header--content {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.itemReciente__main .itemReciente__img .itemReciente__img--header .itemReciente__img--header--content .itemReciente__img--header--icon {
  padding: 0.5rem 0.8rem;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  color: #ffffff;
  background-color: #354676;
}
.itemReciente__main .itemReciente__img .itemReciente__img--header .itemReciente__img--header--content .itemReciente__img--header--icon--sec {
  background-color: #CAA55E;
}
.itemReciente__main .itemReciente__img .itemReciente__img--header .itemReciente__img--header--content .bgred {
  background-color: #c1272d;
}
.itemReciente__main .itemReciente__img .itemReciente__img--header .itemReciente__img--header--content .itemReciente__img--header-div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.itemReciente__main .itemReciente__img .itemReciente__img--img {
  width: 100%;
  overflow: hidden;
  height: 26rem;
}
.itemReciente__main .itemReciente__img .itemReciente__img--img img {
  min-height: 26rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.itemReciente__main .itemReciente__img .itemReciente__img--img img:hover {
  transform: scale(1.03);
}
.itemReciente__main .itemReciente__img .itemReciente__img--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.itemReciente__main .itemReciente__img .itemReciente__img--footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3546767e;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0) 8%, #354676d7 100%);
}
.itemReciente__main .itemReciente__img .itemReciente__img--footer .itemReciente__img--footer--content {
  position: relative;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
}
.itemReciente__main .itemReciente__img .itemReciente__img--footer .itemReciente__img--footer--content .itemReciente__img--footer--icon {
  color: #ffffff;
  font-size: 1.8rem;
}
.itemReciente__main .itemReciente__content {
  padding: 2rem;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--title {
  font-size: 2rem;
  font-weight: 600;
  color: #354676;
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--subtitle {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #424242;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--precio {
  margin: 1rem 0;
  font-size: 1.9rem;
  font-weight: 600;
  color: #CAA55E;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--precio span {
  font-size: 1.7rem;
  font-weight: 500;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--description {
  margin: 2rem auto;
  display: none;
  font-size: 1.7rem;
  color: #424242;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--description:nth-child(1) {
  display: block;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--description * {
  font-weight: 500;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.7rem;
  color: #424242;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--description ul li {
  display: none;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--description ul li:nth-child(1) {
  display: block;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--footer {
  display: flex;
  margin: 0;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  padding-bottom: 2rem;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--footer .itemReciente__content--footer--icon {
  display: flex;
  -moz-column-gap: 0.4rem;
       column-gap: 0.4rem;
  align-items: center;
  color: #424242;
}
.itemReciente__main .itemReciente__content .itemReciente__content--main .itemReciente__content--main--footer .itemReciente__content--footer--icon span {
  font-size: 1.5rem;
  font-weight: 400;
}
.itemReciente__main .itemReciente__content--actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.itemReciente__main .itemReciente__content--actions .itemReciente__content--actions--content {
  padding: 1rem 2rem;
  border-top: 0.2rem solid #e9e9e9;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
}
.itemReciente__main .itemReciente__content--actions .itemReciente__content--actions--content button {
  border: 0.2rem solid #e9e9e9;
  background-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  color: #354676;
}
.itemReciente__main .itemReciente__content--actions .itemReciente__content--actions--content button:hover {
  cursor: pointer;
}

.itemRecomend {
  background-color: #ffffff;
  display: grid;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
}
@media (max-width: 930px) {
  .itemRecomend {
    width: 100%;
  }
}
@media (min-width: 930px) {
  .itemRecomend {
    max-width: 57rem;
  }
}
@media (min-width: 930px) {
  .itemRecomend {
    grid-template-columns: 1fr 1fr;
  }
}
.itemRecomend a {
  overflow: hidden;
  width: 100%;
  height: 35rem;
}
.itemRecomend .item__itemRecomend {
  position: relative;
}
.itemRecomend .itemRecomed__header {
  padding: 0 2rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.itemRecomend .itemRecomed__header .bgred {
  background-color: #c1272d;
}
.itemRecomend .itemRecomed__header p {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
}
.itemRecomend .itemRecomed__header p:first-child {
  padding: 0.5rem;
  background-color: #CAA55E;
  border-radius: 0.5rem;
}
.itemRecomend .itemRecomed__header p span {
  padding: 0.5rem;
  background-color: #354676;
  border-radius: 0.5rem;
  margin: 0 0.3rem;
}
.itemRecomend .itemRecomed__footer {
  padding: 0 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.itemRecomend .itemRecomed__footer p {
  font-size: 1.4rem;
  color: #ffffff;
  font-weight: 600;
}
.itemRecomend .itemRecomed__footer span {
  color: #ffffff;
}
.itemRecomend .item__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 35rem;
  transition: transform 0.2s linear;
  position: relative;
}
.itemRecomend .item__img:hover {
  transform: scale(1.05);
}
.itemRecomend .item__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3546767e;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0) 60%, #3546768a 100%);
}
.itemRecomend .item__text {
  padding: 2rem 3rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 930px) {
  .itemRecomend .item__text {
    padding: 2rem 2rem 0 2rem;
  }
}
.itemRecomend .item__text .item__paragraf .name {
  margin-top: 0;
  font-size: 2rem;
  font-weight: 500;
  color: #354676;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.itemRecomend .item__text .item__paragraf .precio {
  color: #CAA55E;
  font-size: 1.8rem;
  font-weight: 500;
}
.itemRecomend .item__text .item__paragraf .paragraf {
  display: none;
  font-size: 1.7rem;
  color: #424242;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 2rem 0;
}
.itemRecomend .item__text .item__paragraf .paragraf:nth-child(1) {
  display: block;
}
.itemRecomend .item__text .item__paragraf .paragraf * {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.7rem;
  color: #424242;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.itemRecomend .item__text .item__paragraf .paragraf ul li {
  display: none;
}
.itemRecomend .item__text .item__paragraf .paragraf ul li:nth-child(1) {
  display: block;
}

.icons-item {
  max-width: 33.333rem;
  border-top: 0.2rem solid #e9e9e9;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 930px) {
  .icons-item {
    max-width: 100%;
  }
}
.icons-item .icons-atributos {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  display: flex;
}
.icons-item .icons-atributos i {
  font-size: 1.9rem;
  color: #424242;
  margin-right: 0.3rem;
}
.icons-item .icons-atributos p {
  padding: 1rem 0.5rem;
  font-size: 1.4rem;
  color: #424242;
  display: flex;
  align-items: center;
}
.icons-item .icons-atributos p small {
  margin-left: 0.2rem;
  font-size: 1.1rem;
}
.icons-item .favorite {
  display: flex;
}
.icons-item .favorite button {
  border: none;
  background-color: transparent;
}
.icons-item .favorite button svg {
  font-size: 1.9rem;
  color: #354676;
}
.icons-item .favorite button:hover {
  cursor: pointer;
}
.icons-item .favorite p {
  font-size: 1.3rem;
  color: #424242;
}

.title__inmueble {
  padding: 2rem 0;
}
.title__inmueble .title__inmueble__title {
  color: #000000;
  font-size: 3.2rem;
}
.title__inmueble .title__inmueble__subtitle {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: #354676;
}
.title__inmueble .title__inmueble__location {
  display: flex;
  align-items: center;
}
.title__inmueble .title__inmueble__location svg {
  font-size: 2rem;
  margin-right: -0.5rem;
  color: #354676;
}
.title__inmueble .title__inmueble__location p {
  font-size: 1.6rem;
  margin-left: 1rem;
}
.title__inmueble .title__inmueble__location p:nth-child(3) {
  color: #424242;
}

.desInmuebles {
  padding: 2.5rem 3rem;
  background-color: #fff;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
}
.desInmuebles .desInmuebles__title {
  font-size: 1.8rem;
}
.desInmuebles .desInmuebles__description {
  line-height: 1.5;
  color: #424242;
  font-size: 1.6rem;
}
.desInmuebles .desInmuebles__description P {
  font-size: 1.6rem;
}
.desInmuebles .desInmuebles__description ul {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  list-style: disc;
}
.desInmuebles .desInmuebles__description ul li {
  margin-bottom: 1em;
}
.desInmuebles .desInmuebles__description h2, .desInmuebles .desInmuebles__description h2, .desInmuebles .desInmuebles__description h3, .desInmuebles .desInmuebles__description h4, .desInmuebles .desInmuebles__description h5, .desInmuebles .desInmuebles__description h6 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  color: #354676;
}

.propInmuebles {
  background-color: #fff;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
  padding: 2.5rem 3rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
@media (max-width: 930px) {
  .propInmuebles {
    justify-content: space-around;
    -moz-column-gap: 7rem;
         column-gap: 7rem;
    row-gap: 2rem;
  }
}
@media (min-width: 930px) {
  .propInmuebles {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
.propInmuebles p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.propInmuebles .date span {
  display: block;
}
.propInmuebles .propInmuebles__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.propInmuebles .propInmuebles__item svg {
  color: #424242;
  font-size: 2.5rem;
}

.precioinmueble {
  padding-bottom: 3rem;
}
@media (min-width: 930px) {
  .precioinmueble {
    padding: 2rem 0 0 0;
  }
}
.precioinmueble .precioinmueble__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.precioinmueble .precioinmueble__title span {
  font-size: 2.6rem;
}
@media (min-width: 930px) {
  .precioinmueble .precioinmueble__title span {
    font-size: 3rem;
  }
}
.precioinmueble .precioinmueble__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.precioinmueble .precioinmueble__buttons button {
  background-color: #fff;
  border: none;
  padding: 0.7rem 1rem;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.47rem;
}

.itemFormulario {
  padding: 2rem 0;
  background-color: #ffffff;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
}
.itemFormulario .itemFormulario__form {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.itemFormulario .itemFormulario__form legend {
  font-size: 1.9rem;
  margin: 1.5rem auto 1rem auto;
  color: #354676;
}
.itemFormulario .itemFormulario__form .itemFormulario__input,
.itemFormulario .itemFormulario__form .itemFormulario__textarea {
  max-width: 28rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border: 0.2rem solid #e6e6e6;
  color: #424242;
}
.itemFormulario .itemFormulario__form .itemFormulario__input:focus,
.itemFormulario .itemFormulario__form .itemFormulario__textarea:focus {
  outline-style: solid;
  outline-width: 0.2rem;
  outline-color: #354676;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
}
.itemFormulario .itemFormulario__form .itemFormulario__button {
  width: 100%;
  background-color: #354676;
  color: #ffffff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.itemFormulario .itemFormulario__form .itemFormulario__button:hover {
  cursor: pointer;
  background-color: #2A3F77;
}
.itemFormulario .itemFormulario__form .itemFormulario__cta {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.atributosInmueble {
  margin-top: 3rem;
  padding: 2.5rem 3rem;
  background-color: #fff;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
}
.atributosInmueble .atributosInmueble__titel {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.atributosInmueble .atributosInmueble__icon,
.atributosInmueble .atributosInmueble__icon--no {
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 70rem;
  gap: 1rem;
}
.atributosInmueble .atributosInmueble__icon__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
.atributosInmueble .atributosInmueble__icon__item p {
  font-size: 1.8rem;
  color: #354676;
  margin: 1.4rem 0;
}
.atributosInmueble .atributosInmueble__icon {
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}
.atributosInmueble .atributosInmueble__icon .atributosInmueble__icon__item i {
  font-size: 2.5rem;
  color: #354676;
}
.atributosInmueble .atributosInmueble__icon .atributosInmueble__icon__item p {
  color: #424242;
}
.atributosInmueble .atributosInmueble__icon--no {
  -moz-column-gap: 6rem;
       column-gap: 6rem;
}

.itemPlano {
  margin-top: 3rem;
  padding: 2.5rem 3rem;
  background-color: #fff;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
  max-width: 91.3rem;
  width: 100%;
}
@media (max-width: 930px) {
  .itemPlano {
    padding: 2rem 1rem;
  }
}
@media (max-width: 930px) {
  .itemPlano {
    max-width: 35rem;
  }
}
.itemPlano .swiper {
  max-width: 120rem;
}
.itemPlano .itemPlano__img {
  width: 100%;
  height: 100%;
  max-height: 53rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 3rem;
}

.itemFormInm {
  margin-top: 3rem;
  padding: 2rem 0;
  background-color: #ffffff;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
}
.itemFormInm .itemFormInm__content {
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.itemFormInm .itemFormInm__content legend {
  font-size: 1.9rem;
  margin: 1.5rem auto 1rem auto;
  color: #354676;
}
.itemFormInm .itemFormInm__content .itemFormInm__select {
  max-width: 32rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border: 0.2rem solid #e6e6e6;
  color: #424242;
  background-color: transparent;
}
.itemFormInm .itemFormInm__content .itemFormInm__select:focus {
  outline-style: solid;
  outline-width: 0.2rem;
  outline-color: #354676;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
}
.itemFormInm .itemFormInm__content .itemFormInm__select option {
  background-color: #ffffff;
  color: #424242;
}
.itemFormInm .itemFormInm__content .itemFormInm__boton .btn {
  width: 100%;
  background-color: #354676;
  color: #ffffff;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.itemFormInm .itemFormInm__content .itemFormInm__boton .btn:hover {
  cursor: pointer;
  background-color: #2A3F77;
}

.inmMapa {
  margin-top: 3rem;
  background-color: #fff;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
  padding: 2.5rem 3rem;
}
.inmMapa #map {
  height: 45rem;
  width: 100%;
}

.banner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 80rem;
}
@media (min-width: 930px) {
  .banner {
    height: 99vh;
  }
}
.banner .video {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  min-height: 50vh;
  max-height: 80rem;
}
@media (min-width: 930px) {
  .banner .video {
    height: 99vh;
    width: 100%;
  }
}
.banner .video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #180c4e;
  background: linear-gradient(180deg, rgba(24, 12, 78, 0.1992997028) 0%, rgba(123, 127, 138, 0) 12%, rgba(0, 0, 0, 0.4542016636) 49%, rgba(152, 153, 153, 0) 91%, rgba(27, 25, 115, 0.1992997028) 100%);
  z-index: 1;
}
.banner .video video {
  width: 100%;
}
@media (max-width: 930px) {
  .banner .video video {
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 50vh;
  }
}
.banner .banner-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.banner .banner__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
}
.banner .banner__text img {
  width: 70%;
  max-width: 57rem;
}
.banner .banner__text .banner__text-title {
  text-shadow: 0px 0px 3px #000000;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.3rem;
  color: #e9e9e9;
}
@media (max-width: 930px) {
  .banner .banner__text .banner__text-title {
    font-size: 5rem;
    text-align: center;
    padding: 1rem 2rem;
    margin: 3rem 0;
    margin-bottom: 2rem;
  }
}
@media (min-width: 930px) {
  .banner .banner__text .banner__text-title {
    font-size: 6rem;
  }
}
.banner .banner__text .banner__text-paragraf {
  text-shadow: 0px 0px 2px #000000;
  max-width: 60rem;
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 0.4rem;
  margin-bottom: 2rem;
  color: #e9e9e9;
}
@media (max-width: 930px) {
  .banner .banner__text .banner__text-paragraf {
    text-align: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 930px) {
  .bannermin {
    height: 50vh;
  }
}

.bannerInmueble {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.1rem;
}
.bannerInmueble img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bannerInmueble img:nth-child(1) {
  grid-row: 1/3;
}
@media (min-width: 930px) {
  .bannerInmueble {
    grid-template-columns: repeat(4, 1fr);
    height: 71rem;
  }
  .bannerInmueble img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .bannerInmueble img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 12;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  display: grid;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media (min-width: 930px) {
  .modal .modal-content {
    background-color: #ffffff;
    grid-template-columns: 3fr 1fr;
    width: 92%;
    max-width: 160rem;
    background-color: #ffffff;
  }
}
.modal .modal-content .formular {
  position: relative;
}
.modal .modal-content .formular .itemFormulario {
  margin: 0 auto;
  margin-top: 8rem;
  box-shadow: none;
  max-width: 33rem;
}
@media (max-width: 930px) {
  .modal .modal-content .formular {
    display: none;
  }
}
.modal .modal-content .formular .close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 1rem 1.5rem;
  background-color: #be2c08;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 600;
  transition: all 0.3s;
}
.modal .modal-content .formular .close:hover {
  background-color: #9c2203;
  cursor: pointer;
}
.modal .modal-content .swiper {
  width: 100%;
  max-width: 120rem;
}
.modal .modal-content .mySwiper {
  z-index: 20;
}
.modal .modal-content .swiper-slide {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  background-color: none;
  position: relative;
}
.modal .modal-content .swiper-button-prev,
.modal .modal-content .swiper-button-next {
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000c7;
}
@media (max-width: 930px) {
  .modal .modal-content .swiper-button-prev,
.modal .modal-content .swiper-button-next {
    display: none;
  }
}
.modal .modal-content img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 930px) {
  .modal .modal-content img {
    max-height: 40rem;
  }
}
@media (min-width: 930px) {
  .modal .modal-content img {
    width: 100%;
    height: 71rem;
  }
}

.no-modal {
  display: flex;
}

.slider-recientes {
  max-width: 122rem;
  margin: 5rem auto;
  padding: 0 2rem;
}
.slider-recientes .swiper-wrapper {
  padding: 5rem 0;
}
.slider-recientes .swiper-button-next {
  right: 2.5rem;
}
.slider-recientes .swiper-button-next::after {
  content: ">";
  font-size: 1.2em;
}
.slider-recientes .swiper-button-prev {
  left: 107rem;
}
.slider-recientes .swiper-button-prev::after {
  content: "<";
  font-size: 1.2em;
}
.slider-recientes .swiper-button-next,
.slider-recientes .swiper-button-prev {
  width: 4rem;
  font-size: 2rem;
  background-color: #f5f5f5;
  color: #354676;
  opacity: 0;
  font-weight: bold;
  position: absolute;
  top: 2.2rem;
  margin-bottom: 0.5rem;
  border-radius: 0.4rem;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 930px) {
  .slider-recientes .swiper-button-next,
.slider-recientes .swiper-button-prev {
    display: none;
  }
}
@media (min-width: 1200px) {
  .slider-recientes .swiper-button-next,
.slider-recientes .swiper-button-prev {
    opacity: 1;
  }
}
.slider-recientes .swiper-button-next:hover,
.slider-recientes .swiper-button-prev:hover {
  background-color: #354676;
  color: #ffffff;
}
.slider-recientes .swiper-pagination-bullet-active {
  background-color: #354676;
  color: #ffffff;
}

.inmRecomend {
  margin: 0 auto;
  background-color: #f8f8f6;
  padding-bottom: 6rem;
  padding-top: 3rem;
}
.inmRecomend .inmRecomend__grid {
  padding: 0 2rem;
  max-width: 120rem;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 930px) {
  .inmRecomend .inmRecomend__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.region {
  max-width: 120rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding-top: 3rem;
}
@media (max-width: 930px) {
  .region {
    padding: 0 1.5rem;
  }
}
.region .region__grid {
  margin-top: 3rem;
  display: grid;
  gap: 1.5rem;
}
@media (min-width: 930px) {
  .region .region__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.region .region__grid .region__item {
  position: relative;
}
.region .region__grid .region__item div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2rem;
}
.region .region__grid .region__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3546767e;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0) 60%, #3546768a 100%);
}
@media (min-width: 930px) {
  .region .region__grid .region__item:first-child {
    grid-column: 1/span 2;
  }
  .region .region__grid .region__item:last-child {
    grid-column: 3/span 2;
  }
}
.region .region__grid .region__item .region__title {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
.region .region__grid .region__item .region__list {
  display: inline-block;
  background-color: #354676;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  position: relative;
  z-index: 1;
  margin: 1rem 0;
}

.eligenos {
  background-color: #f8f8f6;
  padding-bottom: 5rem;
  padding-top: 3rem;
}
.eligenos .eligenos__container {
  margin: 0 auto;
}
@media (min-width: 930px) {
  .eligenos .eligenos__container {
    width: 85%;
  }
}
.eligenos .eligenos__container .eligenos__grid {
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
  background-color: #ffffff;
  display: grid;
}
@media (min-width: 930px) {
  .eligenos .eligenos__container .eligenos__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 930px) {
  .eligenos .eligenos__container .eligenos__grid .eligenos__img-in {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
.eligenos .eligenos__container .eligenos__grid .eligenos__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eligenos .eligenos__container .eligenos__grid .eligenos__img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40rem;
  width: 40rem;
  width: 100%;
}
@media (min-width: 930px) {
  .eligenos .eligenos__container .eligenos__grid .eligenos__img {
    height: 100%;
  }
}

.mapa-info {
  display: none;
}
@media (min-width: 930px) {
  .mapa-info {
    display: block;
    position: absolute;
    top: 7.5rem;
    left: 10rem;
    background-color: #ffffff;
    padding: 3rem 3rem 0;
    box-shadow: 0px 0px 6px 0px #354676b7;
  }
  .mapa-info div {
    width: 100%;
    margin: 0 auto 3rem;
    font-size: 1.6rem;
    padding: 0 0.7rem;
  }
  .mapa-info div .mapa__title {
    font-weight: 400;
    margin: 0 0 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .mapa-info div .info-contacto li {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  .mapa-info div .info-horario li {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .mapa-info {
    left: 16rem;
  }
}

.testimoniales {
  margin: 5rem auto;
  padding: 0 0 5rem;
}
.testimoniales .testimoniales-cards {
  max-width: 90vw;
  margin: 3rem auto 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 930px) {
  .testimoniales .testimoniales-cards {
    flex-direction: row;
  }
}
.testimoniales .testimoniales-cards .t-card {
  padding: 4rem 0;
  box-shadow: 0 -1px 19px 0 rgba(3, 101, 172, 0.14);
}
.testimoniales .testimoniales-cards .t-card .header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimoniales .testimoniales-cards .t-card .header-card img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimoniales .testimoniales-cards .t-card .header-card p {
  margin: 2rem 0 1.6rem;
  font-weight: 700;
}
.testimoniales .testimoniales-cards .t-card .header-card span {
  display: flex;
  font-size: 2rem;
  gap: 0.8rem;
}
.testimoniales .testimoniales-cards .t-card .body-card {
  max-width: 37rem;
  padding: 0 1rem;
  color: #424242;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2.5rem;
  text-align: justify;
  margin: 3rem auto;
}
.testimoniales .testimoniales-cards .t-card .body-card blockquote {
  padding: 0 2rem;
}
.testimoniales .testimoniales-cards .t-card .footer-card {
  max-width: 32rem;
  padding: 0 2rem;
  text-align: center;
}
.testimoniales .testimoniales-cards .t-card .footer-card p {
  font-size: 1.4rem;
}
.testimoniales .testimoniales-cards .t-card .footer-card p span {
  font-weight: 300;
}

.inmSimilares {
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 930px) {
  .inmSimilares {
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
  }
}

.inmSimilaresReg {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

@media (min-width: 930px) {
  .header-button {
    display: none;
  }

  .header-container {
    z-index: 10;
    display: flex;
    position: absolute;
    padding: 0.5rem 1rem;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #304371 95%, #324676 100%);
  }
  .header-container .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1.5rem;
    max-width: 14.5rem;
  }
}
@media (min-width: 930px) and (min-width: 930px) {
  .header-container .header-logo {
    max-width: 17rem;
  }
}
@media (min-width: 930px) {
  .header-container nav ul {
    border-left: 1.2px solid #ffffff;
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .header-container nav ul a {
    color: #ffffff;
    font-weight: 600;
    padding: 1.2rem 0.7rem;
    font-size: 1.7rem;
    font-weight: 400;
  }
}
@media (max-width: 930px) {
  .header-logo {
    max-width: 30rem;
    margin: 0 auto;
  }

  .header-button {
    z-index: 100000;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #354676;
    border-radius: 0 0 0 100%;
    padding: 1.6rem 1.6rem 3.2rem 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: padding 1s;
  }
  .header-button button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header-button button svg {
    font-size: 2.6rem;
    color: #ffffff;
  }

  .header-container {
    z-index: 100001;
    display: none;
    flex-direction: column;
    text-align: center;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    margin-top: 20vh;
  }
  .header-container nav {
    margin-top: 2rem;
  }
  .header-container nav a {
    display: block;
    padding: 2rem;
    line-height: 2.5rem;
    font-size: 1.7rem;
    color: #ffffff;
  }
}
.footer-main {
  background-color: #2A3F77;
  padding: 2.7rem 0.5rem;
}
@media (min-width: 930px) {
  .footer-main footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    margin: 0 auto;
    max-width: 135rem;
  }
  .footer-main footer section {
    margin: auto 0;
  }
}
.footer-main .footer-title {
  margin: 1rem;
  padding-top: 1rem;
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main .footer-title h4 {
  padding: 1rem;
  margin-top: 3rem;
  font-size: 3.2rem;
}
.footer-main .footer-title h4 span {
  color: #CAA55E;
  font-size: 6rem;
  display: block;
}
.footer-main .footer-nav ul {
  list-style: circle;
  padding: 0.5rem;
  margin: 2rem;
  margin-left: 3rem;
  color: #ffffff;
}
.footer-main .footer-nav ul li::marker {
  font-size: 2.7rem;
  margin: 2rem 0;
}
.footer-main .footer-nav ul a {
  color: #ffffff;
}
.footer-main .footer-redes {
  margin-top: 5rem;
}
.footer-main .footer-redes ul {
  margin: 1rem;
  margin-left: 3rem;
  color: #ffffff;
}
.footer-main .footer-redes ul li {
  margin: 2rem 0;
}
.footer-main .footer-redes ul a {
  color: #ffffff;
}
.footer-main .footer-redes ul a i {
  font-size: 2.5rem;
}
.footer-main .footer-redes ul a:hover {
  cursor: pointer;
}
.footer-main .footer-redes ul .redes ul {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 0;
}

.inmueble {
  padding-top: 3rem;
  background-color: #f7f7f7;
  padding-bottom: 7rem;
}
@media (min-width: 930px) {
  .inmueble {
    padding-top: 9rem;
  }
}
.inmueble .inmueble__grid {
  max-width: 130rem;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 0 2rem;
  grid-gap: 3rem;
}
@media (min-width: 930px) {
  .inmueble .inmueble__grid {
    grid-template-columns: 2.9fr 1fr;
  }
}
.inmueble .inmueble__formularios {
  width: 100%;
}
.inmueble .itemFormulario__cta {
  margin: 0.7rem auto;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 10;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inmRegion {
  padding: 0 2rem;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 7rem;
}
.inmRegion .inmRegion__grid {
  display: grid;
  max-width: 130rem;
  margin: 0 auto;
  gap: 2rem;
}
@media (min-width: 930px) {
  .inmRegion .inmRegion__grid {
    grid-template-columns: 3fr 1fr;
  }
}
.inmRegion .inmRegion__grid .inmRegion__grid__inm {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}
