.Avanzas__main{
  background-image: url('/img/remesas/avanzar.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include tabletinvert {
    min-height: 100vh;
}
  @include tablet {
      height: 100vh;
  }
  max-height: 85rem;
  position: relative;
  

  display: flex;
  flex-direction: column;
  align-items: center;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .Avanza__title{
    padding: 0 2rem;
    position: relative;
    z-index: 2;
    font-weight: bold;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .Avanza__title--main{
      margin-top: 15rem;
      text-align: center;
      font-weight: 300;
      font-size: 3.8rem;
      @include tablet{
        font-size: 4.5rem;
      }

      span{
        font-weight: 600;
        display: block;
        font-size: 5rem;
        @include tablet{
          font-size: 7rem;
        }
        color: $secundario;
      }
    }

    .Avanza__title--btn{

      @include tabletinvert{
        width: 100%;
        margin-bottom: 5rem;
      }

      font-size: 2rem;
      color: $blanco;
      font-weight: 900;
      border: 3px solid $blanco;
      padding: .9rem 2rem;
      border-radius: .7rem;
      transition: all .3s ease-in-out;
      background-color: transparent;
      margin: 0 auto;
  
      &:hover{
        background: radial-gradient(circle, rgba(53,27,233,1) 0%, rgba(21,5,99,1) 100%);
        color: $blanco;
        cursor: pointer;
      }
    }

  }


  .Avanaza__footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,1));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet{
      justify-content: space-between;
    }
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 3rem 7rem 0 0;
    @include tablet{
      border-radius: 6rem 15rem 0 0;
    }

    .Avanza__logo{
      img{
        width: 100%;
        max-width: 22rem;
        @include tablet{
          max-width: 42rem;
        }
      }
    }
  }
}