.Banner__main {
    padding: 0 2rem;
    display: grid;
    max-height: 85rem;
    background-image: url("/img/remesas/banner1.webp");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    
    @include tabletinvert {
        min-height: 100vh;
    }

    @include tablet {
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        @include tablet {
            height: 100vh;
        }
        background-color: hwb(0 0% 100% / 0.3);
    }

    .Banner__text {
        @include tabletinvert {
            margin-top: 6rem;
        }
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        margin-bottom: 10rem;

        .Banner__title {
            text-align: center;
            font-size: 3.7rem;
            font-weight: 500;
            color: $blanco;
            margin-bottom: 2rem;

            span {
                display: block;
                font-weight: 600;
                font-size: 4.1rem;
                color: $secundario;
            }
        }

        .Banner__btn {
            @include tabletinvert {
                width: 100%;
            }
            margin-top: 3rem;
            font-size: 2rem;
            color: $blanco;
            background-color: $secundario;
            padding: 0.4rem 1.8rem;
            border: none;
            border-radius: 0.5rem;
            box-shadow: 1px 1px 4px 2px #ffffff;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.02);
                cursor: pointer;
            }
        }
    }

    .Banner__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        margin-bottom: 10rem;

        .Banner__video {
            video {
                width: 100%;
                max-width: 55rem;
                border-radius: 0.7rem;
                border: 2.3px solid $secundario;
            }
        }
    }
}
