.header-container{
  @include tablet{
    box-shadow: 3px 3px 7px 0px #30303062, -3px -3px 7px 0px #ffffff98;
  }
}
.header-logo-dist{
  max-width: 20rem !important;
  @include tablet{
    max-width: 16rem !important;
  }
  margin: 0 auto;
}